* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0 ;

}
.container {
    min-width: 1920px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.header {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo {
    padding: 24px 16px;
    display: flex;
    align-items: center;
}
.block {
    min-width: 40px;
    min-height: 40px;
    display: inline-block;

    margin-right: 16px;

    position: relative;

    border-radius: 6px;

    background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
}
.letter {
    font-family: 'Red Hat Display', sans-serif; 
    font-size: 32px;
    font-weight: 700;
   
    position: absolute;
    top: -1px;
    left: 10px;
    right: 0;
    bottom: 0;
    margin: auto;

    color: #fff;
}
.letter_big {
    font-family: 'Red Hat Display', sans-serif; 
    font-weight: 500;
    font-size: 36px;
    color: #0C2146;
}

.header_reg {
    padding-left: 30px  ;
    font-weight: 500;
    font-size: 20px;

    color: #5A5B6A;

    text-decoration: none;
}
.header_search{
    padding-left: 100px;
    z-index: 1;
}
.header_search::before   {
    content: url('../images/header/Vector.svg');
    position: relative;
    left: 35px;
    top: 3px;
    z-index: 2;
    cursor: pointer;
}
.header_search::after {
    content: url('../images/header/Vector_1.svg') ;
    position: relative;
    right: 35px;
    cursor: pointer;
}

.header_input {
    padding-left: 44px;
    position: relative;
    min-width: 668px;
    min-height: 48px;

    border-radius: 99px;

    border: none;
    margin: auto;
    background: #EDEDF0;

    font-size: 20px;
}
.header_input:focus {
    outline: none;
}

.blue {
    color: #2264D1;
}
.btn_block {
    display: flex;

    padding-left: 100px ;
}

.header_btn {
    padding: 8px 12px;

    position: relative;

    cursor: pointer;
    background: #fff;
    margin-right: 20px;

    border: 1px solid #9DC2FF;
    border-radius: 4px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;

    color: #2264D1;
}
.active {
    background: #FFFFFF;

    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
    border-radius: 4px;
    border: none;
}
.notifications {
    min-width: 20px;
    min-height: 20px;

    background: #F44336;
    border-radius: 99px;

    position: absolute;
    right: -5px;
    top: -5px
}
.number {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

    color: #FFFFFF;

    position: absolute;
    top: 1px;
    left: 6px;
}
.avatar {
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;

    margin-right: 10px;
}

/* Top-nav */

.tabs {
    margin-bottom: 40px;
    display: flex;
}
.elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    padding: 5px;
}
.tabs_title {
    font-weight: 500;
    font-size: 14px;
    margin: 8px 10px 0px;

    color: #787885;
}
.active_tab {
    left: calc(50% - 144px/2 - 674px);
    top: 0px;   
    bottom: 0px;

    background: #EBF2FF;
    border-radius: 10px;
    color: #2979FF;
}
.tabs_img {    
    min-height: 18px;
   position: relative;
   top: 2px
}

/* Main */

.main {
    display: flex;
    flex: 1 1 auto;
}

/* Sidebar */

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-width: 386px;

}
.btn_sidebar {
    min-width: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #FFFFFF;

    border: 1px solid #9DC2FF;
    box-sizing: border-box;
    border-radius: 8px;
}
.btn_text_one {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    margin: 5px;
    padding: 8px 30px;
    text-align: center;

    color: #2264D1;

    cursor: pointer;
}
.categories {
    display: flex;
    flex-direction: column;
    justify-content: start;

    padding-top: 40px;
}
.all_categories {

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    
    cursor: pointer;
    padding-bottom: 10px;
}
.all_categories::before {
    content: url('../images/sidebar/nxt.png');
    position: absolute;
    left: 23px;
}
.electronics {
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
    left: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;    

    cursor: pointer;
}
.electronics_items {
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
    left: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;    

    cursor: pointer;
}
.cell_phones {
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
    left: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;    

    cursor: pointer;
}
.cell_phones::before {
    content: url('../images/sidebar/down.png');
    position: absolute;
    left: 32px;
}
.electronics::before {
    content: url('../images/sidebar/down.png');
    position: absolute;
    left: 23px;
}
.left {
    padding-left: 10px;
}
.all_categories_title {
    padding-left: 48px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #19191D;
}
.all_categories_title_normal {
    padding-left: 48px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #19191D;
}
.all_categories_text {
    padding-left: 48px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: #787885;
}
.category_btn {
    max-width: 138px;
    background: #EBF2FF;
    border-radius: 4px;

    position: relative;
    left: 65px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.category_btn_one {
    background: #EBF2FF;
    border-radius: 4px; 
    max-width: 75px;
    cursor: pointer;

    position: relative;
    left: 57px;
    margin-bottom: 35px;
}
.category_btn_txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.75px;

    padding: 12px;


    color: #2264D1;
}
.category_btn_img {
    position: absolute;
    right: 20px;
}
.bisiness_industrial {
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
    left: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;    

    cursor: pointer;
}
.bisiness_industrial::before {
    content: url('../images/sidebar/chevron_right.png');
    position: absolute;
    left: 32px;
}
.bisiness_industrial_text {
    padding-left: 48px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #19191D;
}
.font_weight_normal {
    font-weight: normal;
}
.collapsed_filters {
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 300px;
    background: #FFFFFF;

    cursor: pointer;

    margin-bottom: 24px;

    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
    border-radius: 4px;
}
.collapsed_filters_text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 10px;
    color: #19191D;
}
.collapsed_filters_img {
   margin-right: 16px;
}
.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}
.expanded_filters {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-width: 300px;
    
    background: #F7F7FA;
    border-radius: 4px;        

    margin-bottom: 32px;
}

.expanded_filters_text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    margin-right: 140px;
    color: #19191D;
}
.mr {
    margin-right: 95px;
}
.expanded_filters_img {
   margin-right: 8px;
}
.checkbox {
    cursor: pointer;
}
.checkbox_filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px ;
    padding-right: 106px ;
}
.checkbox_filters_years {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px ;
    padding-right: 160px ;
}
.cheked {
    margin-bottom: 18px;
}
.input {
    position: absolute;
    z-index: 1;
    opacity: 0; 
}
 .input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.input + label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #505050;
    border-radius: 2px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.input:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
} 
.checkbox {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #19191D;
    padding-left: 15px ;
}

/* Content */

.content {
    max-width: 1114px;
}
.cards_block {
    margin-bottom: 40px;

    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
    border-radius: 8px;
}
.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  margin-bottom: 17px;

}
.select_block {
    display: flex;
}
.sort {
    margin: 16px;

    display: flex;
    align-items: center;

    position: relative;
    z-index: 1;

    border-radius: 4px; 
    border: 1px solid #B4B4BB;
}
.sort_active {
    border: 1px solid #5A5B6A;
    color: #19191D;

}
.sort_text {
    font-family: 'Roboto';
    font-size: 10px;
    letter-spacing: 1.5px;

    position: absolute;
    top: -8px;
    background: #fff;

    text-transform: uppercase;

    color: #787885;
}
select {
    padding-top: 3px;
    border: none;
    border-radius: 3px;

    appearance: none;

    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #787885;

    background: url('../images/pointer.png') no-repeat right center;
}
select:focus {
    outline:none;
}

.sec_select {
    min-width: 92px;
}
.third_select{
    min-width: 125px;
}
.show_item {
    display: flex;
}
.show{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;

    cursor: pointer;

    margin: auto 24px;

    background: #EBF2FF;
    border-radius: 4px;
}
.show_block {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 85px;
    height: 36px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: #5A5B6A;
}
.menu_list {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 68px;
    height: 36px;
}
[data-show="active"] {
    background: #FFFFFF;


    box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
    border-radius: 4px;

    color: #2264D1;
}

/* recommended */

.recommended {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    padding-left: 16px;
}
.recomendated_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    margin: 0 4px;
    
    display: flex;
    align-items: center;
    
    color: #19191D;
}
.recomendated_item {
    margin: 0 4px;
    height: 32px;
    background: #EDEDF0;
    border-radius: 99px;
}
.recomendated_content {

    margin: auto;
    padding: 6px 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #4A4B57;
}

/* Cards Items */
.cards_item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}
.cards {
    max-width: 259px;
    margin: 8px 8px;

    display: flex;
    flex-direction: column;

}
.cards:hover {
    background: #FFFFFF;

    box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
    border-radius: 8px;
}
.cards_description {
    height: 74px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #19191D;

    margin: 8px 16px;
}
.cards_price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: rgba(0, 0, 0, 0.87);

    margin: 8px 16px;
}
.card_sale {
  
    background: #ECF7ED;
    border-radius: 4px;

    font-family: 'Roboto';

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 6px;
    letter-spacing: 0.4px;

    color: #37833B;
}
.card_cool_deal {

    background: #FDEDF2;
    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;

    padding: 4px 6px;

    color: #C23564;
}
.cards_comment {
    height: 43px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;

    display: flex;
    align-items: center;
    letter-spacing: 0.018em;

    color: #787885;
    margin: 8px 16px;
}
.cards_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 16px;
}
.cards_rating {
    display: flex;
    align-items: center;
}
.raiting {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    margin-left: 10px;

    color: #5E6366;
}
.star_half{
    margin-top: -1px;
}
.cards_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #fff;

    border: 1px solid #9DC2FF;
    border-radius: 4px;
}
.btn_txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: right;
    letter-spacing: 0.018em;
    padding: 4px 15px;
    color: #2264D1;  
}
.btn_img {
    position: relative;
    left: 9px;
}

/* Features */

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 60px;

    max-width: 1114px;
}
.feautures_elem {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 358px;

    margin: 0 11px;

    background: #EDEDF0;
    border-radius: 8px;
}
.features_img {
   margin: 26px auto;
   margin-bottom: 4px;
}
.mb {
    margin-bottom: 10px;
}
.features_title {
    font-family: 'Quicksand';
    font-size: 20px;
    line-height: 150%;

    padding: 6px 50px;

    letter-spacing: 0.0075em;

    color: rgba(0, 0, 0, 0.87);
}
.features_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    
    letter-spacing: 0.018em;
    
    color: #5A5B6A;
    margin-bottom: 24px;
}

/* footer */

.footer {
    min-width: 1920px;
    min-height: 200px;
    display: grid;
    grid-template-columns: 31% 39% 19%;

    background-color: #F7F7FA;
}
.footer_first_column{
        display: flex;
    flex-direction: column;
}
.footer_header {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;

    letter-spacing: 0.0275em;
    text-transform: uppercase;

    color: #B1B1C4;
}
.footer_link {
    display: flex;
    margin-bottom: 25px;
}
.footer_link a {
    margin-right: 40px;
    text-decoration: none;

    font-weight: normal;
    font-size: 16px;
    line-height: 100%;

    letter-spacing: 0.0275em;

    color: #1F1F1F;
}
.footer_contacts {
    display: flex;
}

.foo_tel {
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    margin-right: 24px;
    letter-spacing: 0.0275em;

    color: #1F1F1F;
}
.btn_footer {
    max-height: 40px ;

    background: #EBF2FF;
    border-radius: 4px; 

    position: relative;
    left: 20px;
    top: 19px;
    cursor: pointer;
}
.btn_foo_txt{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.75px;
    margin: 0;
    padding: 13px 24px;
    cursor: pointer;
    color: #2264D1;
}
.footer_socio {
    position: relative;
    left: 45px;
    top: 18px;

    margin-right: 20px;

    width: 42px;
    height: 42px;
    border: 1px solid #B4B4BB;
    border-radius: 14px;

    cursor: pointer;
}
.facebook {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 24px;
    height: 24px;

    background: #3B5998;
    border-radius: 99px
}
.facebook svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
}
.twitter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 24px;
    height: 24px;

    background: #55ACEE;
    border-radius: 99px
}
.twitter svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
}
.footer_schedule {
    position: relative;
    top: -15px;
    display: flex;
    margin-bottom: 20px;
}
.footer_work_schedule {
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;

    color: #5A5B6A;

    margin-right: 33px;
}
.footer_subscribe {
    grid-column-start: 1;
    grid-column-end: 4;
    min-width: 1920px;
    background: #E6E6EA;
    display: grid; 
    grid-template-columns: 31% 19% 20% 18% 12%; 
}
.footer_mail_subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #D1D1E1;
}
.footer_mail_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;

    margin-right: 60px;

    color: #787885;
}
.footer_btn {
    width: 120px;
    height: 40px;

    margin-right: 10px;
    background: #E6E6EA;


    border: 1px solid #9DC2FF;
    border-radius: 4px;

    cursor: pointer;
}
.footer_btn_txt {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.0075em;
    margin: 0;
    color: #2264D1;
}
.footer_program{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #D1D1E1;
}
.program {
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    letter-spacing: 0.0275em;

    color: #1F1F1F;
}
.brn {
    border-right: none;
}
.footer_end {
    grid-column-start: 1;
    grid-column-end: 4;
    min-width: 1920px;
    background: #ffffff;
    display: grid; 
    grid-template-columns: 31% 19% 20% 18% 12%; 
}
.footer_rights {
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;

    display: flex;
    align-items: center;

    color: #B1B1C3;
}
.footer_private {
    display: flex;
    align-items:flex-end;
    justify-content: end;
}
.privacy_police {
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    text-align: left;
    padding-left: 16px;

    color: #5A5B6A;
}
.foo_letter {
    display: flex;
    margin-right: 20px;
}
 .visa_letter {
    position: relative;
    margin-right: -1px;
}
.v_letter {
    position: absolute;
    top: 0px;
    right: 15px;
}
.all_letter {
    position: relative;
    right: 6px ;
} 
.visa_balls {
    margin-right: 18px;
}
.visa_balls svg {
    margin-right: -12px;
}
.visa_balls_opacity {
    opacity: 0.8;
}



